.footer__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    background-color: #E7ECFF;
}
.footer__logo{
    display: flex;
    justify-content: space-between;
}
.footer__logo_date{
    padding-top: 37px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 24px;
    color: #939EA4;
}
.footer__logo__name{
    padding-top: 42px;
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 38px;
    color: #37447E;
}
.footer__hr{
    background-color: #CDD1D4;
    margin-top: 39px;
    height: 1px;
    border: 0;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__button{    
    margin:0 auto;
    width: 109px;
    background: #111B47;
    color: #fff;
    margin-top: 22px;
    margin-bottom: 18px;
    border-color:#111B47;
    border-radius: 2px;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;    
}

.footer__navigation{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.footer__links ul{
    display: flex;
    
    
}
.footer__links li {
    margin-right: 2.5rem;
    
}
.footer__links a{
    font-size: 0.875rem;
    line-height: 24px;
    color: #929ECC;
}
.footer__media_wrapper{
    margin-top: 26px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.footer__media{
    width: 200px;
    display: flex;
    justify-content: space-between;
    
}
@media screen and (max-width:320px) {
    
    .footer{
        height:16.25rem;
    }
    .footer__logo{
        height: 3.75rem;
    }
    .footer__links ul{
        margin: 0;
    }
    .footer__wrapper{
        height: 3.125rem;
    }
    .footer__media_wrapper{
        padding-bottom: 0;
    }
    
    
}