.content__form {
    max-width: 20em;
}

.form__create-button {
    padding: 0.75rem 0;
    background-color: royalblue;
    color: white;
    margin-bottom: 4em;
}

.form__find-button {
    padding: 0.6rem 0;
    background-color: royalblue;
    color: white;
}

.form__find-button-cancel {
    padding: 0.6rem 0;
    background-color: tomato;
    color: white;
}