body {
    font-family: var(--azaret);
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

fieldset {
    border: none;
}

label,
input {
    display: block;
    font-size: 24px;
    font-weight: 600;
}

label {
    padding-bottom: 0.5rem;
}

input {
    border: 2px solid black;
    border-radius: 3px;
    font-weight: 400;
}

legend {
    font-size: 36px;
    font-weight: bold;
}

button {
    width: 8em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: var(--font-size-md);
    border: none;
    border-radius: 0.25rem;
}

li {
    display: block;
}
.error {
    width  : 120%;
    padding: 0;

    font-size: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.88);
    border-radius: 0;


    box-sizing: border-box;
}

