.pricelist__inner{
    padding-top: 59px;
}   
.pricelist__options{
    display: flex;
    justify-content: space-between;
    padding-top: 88px;
    padding-bottom: 217px;
}
.pricelist__choice{
    width: 350px;
    
}
.pricelist__title{
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 48px;
    color: #37447E;
}
.pricelist__subtitle{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 32px;
    color: #091133;
}
.pricelist__paragraph{
    font-size: 0.875rem;
    line-height: 24px;
    color: #5D6970;
}
.pricelist__button{
    width: 189px;
    margin-top: 30px;
    background: #111B47;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 18px;
    border: 0;
}
@media screen and (max-width:320px) {
    .pricelist__options{
        flex-direction: column;
    }
}