@import "../../typography/colors.scss";


.filter {
  select {
    border-radius: 6px;
    height: 2rem;
    width: 8rem;
    margin-right: 2rem;
    text-align: center;
    background-color: #333333;
    color: white;
  }
}

.label {
  color: $redapple;
  padding-right: 15px;
}