@import "../../typography/colors.scss";

.headerItem:not(:last-child) {
  margin-right: 4rem;
}

.headerItem {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all 1s ease-out;
}

.headerItem:hover {
  border-radius: 100px;
  background-color: $grey;
}