input{
border-radius: 8px ;
border-color: transparent;
  outline-color: red;
  background-color: #333333;
  width: 20rem;
  height: 1.8rem;
  font-size: 18px;

}
.button{
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  border:none;
  height: 2.1rem;
}
