@import "../../typography/colors.scss";

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s ease-out;

}