$grey: rgba(40, 39, 39, 0.88);
$dark-grey: #202020;
$blood: #900603;
$redapple: #FF2727;
$violet: #a972cb;
$pink: #ef6eae;
$pink-peach: #ff7f82;
$peach: #ffa260;
$ananas: #e4cb58;
$apple: #8fc866;
$avokado: #19bc8b;
$sky: #26abff;
$sea: #59bfff;
$grey: #333333;
$dark-grey: #202020;