@import "../../typography/colors.scss";

.image {
  max-width: 350px;
  max-height: 350px;
}

.item_info {
  margin-top: 30px;
  display: flex;

}

.description {
  margin-left: 10rem;
  max-width: 600px;
}

.price {
  font-size: 1.5rem;

}

.price_and_buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view_more_button {
  text-decoration: none;
  background: none;
  border: 2px solid;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
}

.view_more_button {
  color: $redapple;
  transition: 0.8s;

  &:hover,
  &:focus {
    color: #fff;
    border-radius: 0.5rem;
  }
}

.view_more_button:hover,
.view_more_button:focus {
  border-color: $redapple;
}