@import "../../typography/colors.scss";

.section {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.heading {
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewMore {
  text-align: center;
  margin-top: 1rem;
}

.viewMoreButton {
  background: none;
  border: 2px solid;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.25em 0.5em;
}

// animation
.viewMoreButton {
  color: $redapple;
  transition: 0.8s;

  &:hover,
  &:focus {
    color: #fff;
    border-radius: 100px;
  }
}

.viewMoreButton:hover,
.viewMoreButton:focus {
  box-shadow: 0 -0.2em 0.5em 0.1em $blood;
  border-color: $blood;
  transform: translateY(0.25em);
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}