@import "../../typography/colors.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: solid $grey;
  .filters {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 60%;
  }
}