.catalogTitle {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.button_wrapper{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}