$violet: #a972cb;
$pink: #ef6eae;
$pink-peach: #ff7f82;
$peach: #ffa260;
$pineapple: #e4cb58;
$apple: #8fc866;
$avocado: #19bc8b;
$sky: #26abff;
$sea: #59bfff;
$grey: #333333;
$dark-grey: #202020;
$blood: #900603;
$redapple: #FF2727;